@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f4f6;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-thumb { background: #fb923c; border-radius: 4px; }

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@media print {
  body * {
    visibility: hidden;
  }
  #print-receipt,
  #print-receipt * {
    visibility: visible;
  }
  #print-receipt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
